Repository VKCOM/php-parser, pull requests merged in 2022-06, with the labels that each got.

#25 readme: fixed cli table
  README.md
Labels: documentation, small fix

#26 php8.2: added readonly classes support
  internal/php8/parser_php8_2_test.go
  internal/php8/php8.go
  internal/php8/php8.y
Labels: php8.2

#29 php8.1: added intersection types support
  internal/php8/builder.go
  internal/php8/lexer.go
  internal/php8/parser_php8_1_test.go
  internal/php8/parser_php8_test.go
  internal/php8/parser_test.go
  internal/php8/php8.go
  internal/php8/php8.y
  internal/php8/scanner.go
  internal/php8/scanner.rl
  internal/php8/scanner_php8_1_test.go
  internal/php8/scanner_test.go
  pkg/ast/ast.go
  pkg/ast/node.go
  pkg/token/token.go
  pkg/token/token_string.go
  pkg/visitor/dumper/dumper.go
  pkg/visitor/formatter/formatter.go
  pkg/visitor/null.go
  pkg/visitor/printer/printer.go
  pkg/visitor/printer/printer_php8_1_test.go
  pkg/visitor/traverser/traverser.go
Labels: PHP 8.1

#30 changelog: added v0.8.2
  CHANGELOG.md
Labels: documentation
